Repository dnsimple/dnsimple-support, pull requests merged in 2019-02, with the labels that each got.

#418 Change from 3 to 7 days
  content/articles/dnssec.markdown
Labels: articles

#420 Remove reference to Authy for 2FA
  content/articles/two-factor-authentication.markdown
Labels: articles, ready-for-review

#421 Account 2FA enforcement article
  content/articles/two-factor-authentication-enforcement.markdown
  content/files/account-2fa-enforcement.png
  content/files/account-disable-2fa-enforcement.png
Labels: articles, ready-for-review

#415 Domain article edits
  content/articles/adding-domain.markdown
  content/articles/deleting-domain.markdown
  content/articles/registering-domain.markdown
  content/articles/renewing-domain.markdown
Labels: copy editing, ready-for-review

#422 Upgrades to the latest FontAwesome
  content/assets/css/_application.scss
  content/assets/css/_mixins.scss
  content/assets/css/_template.scss
  layouts/default.html
Labels: enhancement, ready-for-review

#423 Replace "Account sharing"
  content/articles/account-users.markdown
Labels: copy editing

#417 How do I pronounce DNSimple
  content/articles/how-is-dnsimple-pronounced.markdown
Labels: articles, ready-for-review

#424 Renames team to members
  content/articles/account-users.markdown
  content/articles/two-factor-authentication-enforcement.markdown
  content/files/access-token-generated.png
  content/files/access-token-new.png
  content/files/access-token-remove.png
  content/files/access-tokens-link.png
  content/files/account-2fa-enforcement.png
  content/files/account-balance.png
  content/files/account-billing-change-plan-link.png
  content/files/account-billing-period-switch-yearly-link.png
  content/files/account-billing-update-card-link.png
  content/files/account-disable-2fa-enforcement.png
  content/files/account-menu.png
  content/files/account-plan-info.png
  content/files/add-member-account-link.png
  content/files/add-new-account-details.png
  content/files/application-page.png
  content/files/applications.png
Labels: ready-for-review
