Repository dnsimple/dnsimple-support, pull requests merged in 2019-06, with the labels that each got.

#439 Explain .it extended attributes
  content/articles/domains-it.markdown
Labels: articles, enhancement, ready-for-review

#440 Update billing articles
  content/articles/account-invoice-history.markdown
  content/articles/changing-plans.markdown
  content/articles/subscription-renewals.markdown
  content/files/change-plan-3.jpg
  content/files/change-plan-3.png
Labels: enhancement, ready-for-review

#441 Bring back "contact change 60 day lock"
  content/articles/icann-60-day-lock-registrant-change.markdown
Labels: articles, ready-for-review

#442 Fix broken link in UK domain document
  content/articles/domains-uk.markdown
Labels: ready-for-review

#443 Add NS records for subdomain
  content/articles/add-ns-records-for-subdomain.markdown
  content/files/dnsimple-add-ns-record.png
Labels: articles, ready-for-review
