Repository dnsimple/dnsimple-support, pull requests merged in 2020-05, with the labels that each got.

#555 Allow search.json to be used in the Support Widget
  Rakefile
  _headers
  lib/search.rb
Labels: enhancement

#556 Add categories to search.json
  lib/search.rb
Labels: enhancement, ready-for-review

#553 Explains basic differences between collaborator and membership features
  content/articles/account-collaborator.markdown
Labels: articles, ready-for-review

#559 Changes API access token article, and updates OAuth article
  content/articles/api-access-token.markdown
  content/articles/oauth-applications.markdown
  content/files/app-created.png
  content/files/app-details.png
  content/files/delete-application-confirm.png
  content/files/delete-application.png
  content/files/new-application.png
  content/files/oauth-location.png
  content/files/revoke-all-user-tokens.png
Labels: articles, ready-for-review

#561 Adds article explaining DMARC
  content/articles/dmarc-record.markdown
Labels: articles, ready-for-review

#563 Cleans up Heroku documentation to remove deprecated service
  content/articles/domain-apex-heroku.markdown
  content/files/heroku-service.png
Labels: articles, ready-for-review

#562 Document DE special policies
  content/articles/domains-de.markdown
Labels: articles, ready-for-review
