Repository dnsimple/dnsimple-support, pull requests merged in 2020-04, with the labels that each got.

#538 Name server edits
  content/articles/how-dig.markdown
  content/articles/secondary-dns-provider-dns-made-easy.markdown
  content/articles/secondary-dns-provider-dyn.markdown
  content/articles/secondary-dns-provider-easy-dns.markdown
  content/articles/secondary-dns.markdown
  content/articles/vanity-nameservers.markdown
  content/articles/what-happens-if-i-stop-paying.markdown
Labels: copy editing, ready-for-review

#540 Adds information about GPDR to WHOIS privacy and clarifies ccTLD caveats
  content/articles/whois-privacy.markdown
Labels: articles, ready-for-review

#536 .XXX Domain Update
  content/articles/domains-xxx.markdown
  content/files/xxx-member-auth-token.png
Labels: articles, ready-for-review

#541 Update DNSSEC article to represent current UI
  content/articles/dnssec.markdown
  content/files/dnssec-configuration-dsrecord.png
  content/files/dnssec-configuration.png
  content/files/dnssec-configured.png
  content/files/dnssec-disable.png
  content/files/dnssec-enable.png
Labels: enhancement, ready-for-review

#544 Updates kind-of dependency
  yarn.lock
Labels: dependencies

#551 Updates article for accurate transfer time, and that we cannot expedite transfers.
  content/articles/transferring-domain-away.markdown
Labels: articles, copy editing

#554 Fixes accidental paragraph duplication
  content/articles/whois-privacy.markdown
Labels: articles, ready-for-review
