Repository dnsimple/dnsimple-support, pull requests merged in 2020-11, with the labels that each got.

#680 Updates domain resolution with latest behavior
  content/articles/resolution-status.markdown
  content/files/resolution-status-expired.png
  content/files/resolution-status-notresolving-maintained.png
  content/files/resolution-status-notresolving-notmaintained.png
  content/files/resolution-status-resolving.png
Labels: articles

#685 Fix yarn tests
  content/search/results.js
  spec/search/index.spec.js
  templates/search.js.erb
Labels: bug

#684 Updates WHOIS privacy to mention no auto-renew
  content/articles/whois-privacy.markdown
Labels: articles, enhancement
