Repository dnsimple/dnsimple-support, pull requests merged in 2020-07, with the labels that each got.

#578 Change term to allow
  content/articles/manage-caa-record.markdown
Labels: articles, copy editing, ready-for-review

#584 Changes example url for consistency
  content/articles/dkim-record.markdown
Labels: articles, copy editing

#586 Moves deprecation warning to be more prominent, fixes example URL
  content/articles/spf-record.markdown
Labels: enhancement, ready-for-review

#585 Adds warning that these two features do not work in conjunction
  content/articles/dnssec-and-secondary-dns.markdown
  content/articles/dnssec.markdown
  content/articles/secondary-dns.markdown
Labels: articles, enhancement
