Repository dnsimple/dnsimple-support, pull requests merged in 2021-12, with the labels that each got.

#825 Adds some text to the Managing DS records section
  content/articles/dnssec.markdown
Labels: enhancement, articles

#826 New Feature: "Domain Access Control"
  content/articles/account-users.markdown
  content/articles/domain-access-control.markdown
  content/articles/sharing-domain.markdown
  content/files/domain-access-control-domain-manager.png
  content/files/domain-access-control-domain-page.png
  content/files/domain-access-control-full-access.png
  content/files/domain-access-control-limited-access.png
  content/files/domain-access-control-members-page.png
  content/files/domain-access-control-zone-operator.png
Labels: enhancement, articles

#829 Update Ruby and Node versions
  .tool-versions
  .travis.yml
Labels: enhancement, ready-for-review

#831 Add a video-walkthrough for Domain Access Control
  content/articles/domain-access-control.markdown
Labels: enhancement, articles

#827 Account credit when changing from yearly to monthly
  content/articles/changing-plans.markdown
Labels: articles, copy editing

#832 Bumps vulnerable libraries
  package.json
  yarn.lock
Labels: dependencies, task

#833 Mention Domain Access Control in Personal vs Pro diff page
  content/articles/personal-vs-pro.markdown
Labels: enhancement, articles

#834 Upgrades to ruby 3
  .tool-versions
  .travis.yml
  Gemfile.lock
Labels: task
