Repository dnsimple/dnsimple-support, pull requests merged in 2021-02, with the labels that each got.

#729 Clarify title of unsubscribe article
  content/articles/cancel-subscription.markdown
Labels: articles, ready-for-review

#731 Add more info about DS records when changing delegation
  content/articles/before-transferring-domain.markdown
  content/articles/transferring-domain.markdown
Labels: articles, copy editing, ready-for-review

#734 Improves documentation about certificates auto-renewal enabling period
  content/articles/letsencrypt.markdown
Labels: enhancement, ready-for-review

#735 Clarify that push wants Account emails
  content/articles/transferring-domain-between-accounts.markdown
Labels: articles, copy editing, ready-for-review

#733 Change: update screenshot
  content/files/srv-record.png
Labels: articles, enhancement, ready-for-review

#737 Configure 404 page in netlify
  netlify.toml
Labels: enhancement

#732 Add getting started guide
  content/articles/getting-started-personal-plan.markdown
  content/articles/getting-started.markdown
  content/files/in-app-need-help.jpg
  content/index.html
Labels: articles, copy editing, ready-for-review

#738 Fix anchors under "Adding your domains"
  content/articles/getting-started-personal-plan.markdown
Labels: articles

#742 Layout changes on index page
  content/index.html
Labels: enhancement

#743 Link to header icon
  layouts/default.html
Labels: enhancement

#740 Add 'What is a name server?' article
  content/articles/delegating-dnsimple-registered.markdown
  content/articles/what-is-a-nameserver.markdown
  content/files/change-name-servers.jpg
Labels: articles, copy editing, ready-for-review
