Repository dnsimple/dnsimple-support, pull requests merged in 2021-07, with the labels that each got.

#791 Update "Changing plans" screenshots and copy
  content/articles/changing-plans.markdown
  content/files/change-plan-2.jpg
  content/files/change-plan-2.png
  content/files/change-plan-4.png
Labels: articles, copy editing

#796 Support Widget: Search by URL
  spec/search/index.spec.js
  templates/search.js.erb
Labels: bug

#797 Add AU article
  content/articles/domains-au.markdown
Labels: articles, copy editing, ready-for-review

#798 Fix indentation in AU article
  content/articles/domains-au.markdown
Labels: articles
