Repository dnsimple/dnsimple-support, pull requests merged in 2021-01, with the labels that each got.

#702 Update docs to make ICANN-lock for transfers between accounts more apparent
  content/articles/transferring-domain-between-accounts.markdown
Labels: articles, copy editing, ready-for-review

#712 Reverts Rakefile changes
  Rakefile
Labels: task

#711 Allow margin for p in markers
  content/articles/transferring-domain-between-accounts.markdown
  content/assets/css/_application.scss
Labels: enhancement

#713 Updates bundler version in lock file
  Gemfile.lock
  Rakefile
Labels: dependencies

#715 Update CAA instructions for Sectigo and wildcard
  content/articles/caa-record.markdown
  content/articles/how-long-to-issue-ssl-certificate.markdown
Labels: articles

#719 Account balance updates
  content/articles/account-subscription-balance.markdown
  content/files/account-balance.png
Labels: articles, enhancement

#721 Add invoice explanation
  content/articles/billing-settings.markdown
  content/articles/dns-hosting.markdown
  content/articles/understanding-invoice.markdown
  content/files/dnsimple-invoice.png
  content/files/prorated-invoice.png
  content/files/recurring-charges.png
Labels: articles, copy editing, ready-for-review

#724 Expand instructions to update UK contact at Nominet
  content/articles/domains-uk.markdown
  content/files/nominet-uk-1.png
  content/files/nominet-uk-2.png
  content/files/nominet-uk-3.png
  content/files/nominet-uk-4.png
  content/files/uk-ownership.png
Labels: articles

#714 A number of docs changes
  content/articles/can-ev-ssl-certificates.markdown
  content/articles/domains-eu.markdown
  content/articles/google-workspace-service.markdown
  content/articles/reverse-dns.markdown
  content/articles/services.markdown
  content/articles/sharing-domain.markdown
  content/articles/writing-guide.markdown
  content/files/eu-domain-policy.png
  content/files/register-eu-domain.png
  content/files/services-google-apps.png
Labels: articles, copy editing, ready-for-review

#720 Add article on DDoS protection
  content/articles/protection-ddos.markdown
Labels: articles, copy editing, ready-for-review

#726 First draft of .BANK article
  content/articles/domains-bank.markdown
Labels: articles
