Repository dnsimple/dnsimple-support, pull requests merged in 2021-06, with the labels that each got.

#775 Heroku Connector article
  content/articles/heroku-connector.markdown
  content/files/heroku-connector-add-connector.png
  content/files/heroku-connector-authenticate-dnsimple.png
  content/files/heroku-connector-confirm-config.png
  content/files/heroku-connector-connect-domain.png
  content/files/heroku-connector-connect-heroku.png
  content/files/heroku-connector-domain-connected.png
Labels: articles, enhancement

#780 Remove 'newer plan' verbiage and 'new plan' articles
  content/articles/dns-hosting.markdown
  content/articles/new-plans-for-bronze.markdown
  content/articles/new-plans-for-gold.markdown
  content/articles/new-plans-for-silver.markdown
  content/articles/new-plans.markdown
  content/articles/reactivate-subscription.markdown
  content/articles/whois-privacy.markdown
Labels: articles, copy editing, ready-for-review

#773 Add ClickFunnels Getting Started guide
  content/articles/getting-started-clickfunnels.markdown
  content/files/domain-push-email.png
Labels: articles, copy editing

#782 Add certificate info to differences between plans article
  content/articles/personal-vs-pro.markdown
Labels: articles, copy editing, ready-for-review

#783 Fixes heading of ClickFunnels article
  content/articles/getting-started-clickfunnels.markdown
Labels: articles, ready-for-review

#784 DNSimple as secondary DNS video walk-through
  content/articles/secondary-dns-dnsimple-as-secondary.markdown
Labels: task

#785 Add Heroku Connector video to article
  content/articles/heroku-connector.markdown
Labels: enhancement

#788 Resolution stops immediately upon unsubscribe
  content/articles/what-happens-if-i-stop-paying.markdown
Labels: articles, copy editing, ready-for-review

#789 Change subscription plan during trial
  content/articles/account-activation.markdown
  content/articles/getting-started-personal-plan.markdown
Labels: articles, copy editing, ready-for-review
