Repository dnsimple/dnsimple-support, pull requests merged in 2022-04, with the labels that each got.

#891 Article on how to add an HNS domain to DNSimple
  content/articles/dnsimple-and-handshake.markdown
Labels: articles

#894 Bumps ansi-regex
  yarn.lock
Labels: dependencies

#897 Bumps ruby to 3.0.4
  .tool-versions
  .travis.yml
Labels: dependencies, task

#896 DNSimple Consul integration support article
  content/articles/consul-integration.markdown
  content/articles/terraform-provider.markdown
Labels: articles
