Repository dnsimple/dnsimple-support, pull requests merged in 2022-01, with the labels that each got.

#836 Fix typo in CNAME record docs
  content/articles/cname-record.markdown
Labels: articles, ready-for-review, copy editing

#837 Adds information about proration and billing cycle changes
  content/articles/changing-plans.markdown
  content/articles/understanding-invoice.markdown
Labels: articles, ready-for-review, copy editing

#854 Update CTA
  content/articles/account-creation.markdown
Labels: articles

#850 Update instructions for changing name servers
  content/articles/dnsimple-nameservers.markdown
Labels: articles

#851 Update copy for clarity
  content/articles/adding-domain.markdown
Labels: articles

#852 Update screenshot
  content/articles/delegating-dnsimple-registered.markdown
  content/files/domain-delegation-card-2.png
Labels: articles

#849 Update no downtime transfer link
  content/articles/getting-started.markdown
Labels: articles

#853 Update copy for clarity
  content/articles/what-happens-if-i-stop-paying.markdown
Labels: articles, copy editing

#857 Fixes typo in article
  content/articles/what-is-a-nameserver.markdown
Labels: articles

#858 Update Fastmail link
  content/articles/email-hosting.markdown
Labels: articles
