Repository dnsimple/dnsimple-support, pull requests merged in 2022-02, with the labels that each got.

#861 Add article pointing to rate limit info
  content/articles/api-rate-limit.markdown
Labels: articles

#862 Adds video to Terraform Provider support page
  content/articles/terraform-provider.markdown
Labels: enhancement, ready-for-review

#863 Update standard certificate expiry date details
  content/articles/renewing-standard-ssl-certificate.markdown
Labels: articles, copy editing
